target/
build/

# IDEs
.idea
*.iws
*.iml
*.ipr
.vscode
.classpath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
*.env